html { width: 1348px; margin-left:auto; margin-right: auto; background-color: #FFFFFF; }
body { font-size: 100%; background:#1abc9c; font-family:'PT Sans', sans-serif; margin: 0; }
p,ul li,ol li{ margin:0; font-size:14px; letter-spacing:1px; }
h1,h2,h3,h4,h5,h6{ font-family: 'Ubuntu', sans-serif; margin:0; }
ul,label{ margin:0; padding:0; }
body a:hover{ text-decoration:none;  }
input[type="submit"],input[type="reset"],a,.w3_agile_service_more a i{ -webkit-transition: 0.5s ease-in; -moz-transition: 0.5s ease-in; -ms-transition: 0.5s ease-in; -o-transition: 0.5s ease-in; transition:0.5s ease-in; }
a:focus{outline:none; }
.modal-title { font-size: 30px; text-align: center; font-weight: bold; color: #000; letter-spacing: 1px; }
.modal-body p { margin: 15px 0 10px; color: #888; font-size: 1em; letter-spacing: 1px; line-height: 2em; text-align: center; }
.modal-body h5 {font-size: 23px; text-align: center; font-weight: 600; color: #00acee; letter-spacing: 1px; margin-top: 1.3em;}
.modal-body img {width: 100%;}

/*-- Header --*/
.header_left{ float:left; }
.header_left p{ color:#999; line-height:1.8em; }
.header_right{ float:right; }
.header {padding: 0.6em 3em; background:#1abc9c; height: 20px; }
.header_right ul li{ display:inline-block; color: #fff; }
.header_right ul li:last-child{ margin-left:2em; }
.header_right ul li i{ color: #ffcc2f; padding-right:1em; }
.header_left {float: left;}
.header_right ul li a{ color: white; text-decoration:none;}
.header_right ul li a:hover{ text-decoration: underline; }
.header_left ul li { display: inline-block; list-style: none; margin-right: 1em; }
.header_left ul li a { color: white; padding: 0.5em 1em; font-size: 1.1em; letter-spacing: 1px; text-transform: uppercase; text-decoration: none; }
.header_left ul li a:hover{ }
.header_left i { color: #ffcc3a; }

/*-- Header2 --*/
.header2 { padding: 0.6em 3em; background: #FFFFFF; height: 110px; border-left: 1px solid #1abc9c; border-right: 1px solid #1abc9c; }
.header2_left{ float:left; }
.header2_left p{ color:#999; line-height:1.8em; width: 100px; }
.header2_right{ float: right; margin-top: 30px; }
.header2_right ul li{ display: inline-table; color: #000000; }
.header2_right ul li:last-child{ margin-left:2em; }
.header2_right ul li i{ color: #000000; padding-right:1em; }
.header2_left { float: left; }
.header2_right ul li a{ color: #FFFFFF; text-decoration:none; }
#header2_right_button{ background: #e74c3c; color:white; border-top:0; border-left:0; border-right:0; padding:10px 23px; border-bottom: 5px; border-bottom:5px solid #e74c3c ; text-decoration:none; font-size:11pt; text-decoration:none; margin-left: -25px; }
#header2_right_button2{ background: #1abc9c; color:white; border-top:0; border-left:0; border-right:0; padding:10px 23px; border-bottom: 5px; border-bottom:5px solid #1abc9c ; text-decoration:none; font-size:11pt; text-decoration:none; margin-left: -25px; }

/* Slideshow */
#slideshow{ padding: 0.9em 3em; background: #1abc9c; height: auto; margin-left: auto; margin-right: auto; }
#slidercontainer { position: relative; overflow: hidden; background: #000; }
#slidercontainer { width: 1250px; height: 341px; }
#css3slider img { width: 1250px; height: 341px; float: left; }
#css3slider { position: absolute; width:9000px; -webkit-animation-name:slider; -webkit-animation-duration:30s; -webkit-animation-timing-function: ease-in-out; -webkit-animation-iteration-count:infinite; -moz-animation-name:slider; -moz-animation-duration:30s; -moz-animation-timing-function: ease-in-out; -moz-animation-iteration-count:infinite; -o-animation-name:slider;-o-animation-duration:30s; -o-animation-timing-function: ease-in-out; -o-animation-iteration-count:infinite; -webkit-animation-name:slider; -webkit-animation-duration:30s; -webkit-animation-timing-function: ease-in-out; -webkit-animation-iteration-count:infinite; }
/* anismasi slideshow */
@keyframes slider{0%{left:-0%} 12.31%{left:-0%} 20%{left:-100%} 32.31%{left:-100%} 40%{left:-200%} 52.31%{left:-200%} 60%{left:-300%} 72.31%{left:-300%} 80%{left:-400%} 92.31%{left:-400%} }
@-moz-keyframes slider{0%{left:-0%} 12.31%{left:-0%} 20%{left:-100%} 32.31%{left:-100%} 40%{left:-200%} 52.31%{left:-200%} 60%{left:-300%} 72.31%{left:-300%} 80%{left:-400%} 92.31%{left:-400%} }
@-webkit-keyframes slider{0%{left:-0%} 12.31%{left:-0%} 20%{left:-100%} 32.31%{left:-100%} 40%{left:-200%} 52.31%{left:-200%} 60%{left:-300%} 72.31%{left:-300%} 80%{left:-400%} 92.31%{left:-400%} }

/*bagian container*/
.container {  padding: 0.6em 2em; background: #FFFFFF;  border-left: 1px solid #1abc9c; border-right: 1px solid #1abc9c; }
/*bagian sidebar*/

.container_sidebar1{ background: url(../image/child.png); width: 600px; height:200px; float: left; margin-bottom: -10px; font-size: x-large; color:rgba(255, 255, 255, 1); }
.container_sidebar1:hover{ box-shadow: inset 0 0 30px 7px #000000; }
.container_sidebar1_button{ padding: 0.6em 3em; margin-top: 70px; margin-left: -15px; }
.container_sidebar1_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 70px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-right: 0px; }
.container_sidebar1_button1:hover{ background: #FFFFFF; color: #000000; }
.container_sidebar1_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 70px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: 50px; }
.container_sidebar1_button2:hover{ background: #FFFFFF; color: #000000; }

.container_sidebar2{ background: url(../image/Dewasa.png); width: 670px; height:410px; float: right; font-size: x-large; color: #FFFFFF; }
.container_sidebar2:hover{ box-shadow: inset 0 0 30px 7px #000000; }
.container_sidebar2_button{ padding: 0.6em 3em; margin-top: 280px; margin-left: -20px; }
.container_sidebar2_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 30px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-right: 0px; margin-left: 25px; }
.container_sidebar2_button1:hover{ background: #FFFFFF; color: #000000; }
.container_sidebar2_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 20px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: 30px; }
.container_sidebar2_button2:hover{background: #FFFFFF; color: #000000;}

.clear{clear: both;}

.container_sidebar3{ background: url(../image/teen.png); width: 600px; height:200px; float: left; font-size: x-large; margin-top: -200px; color: #FFFFFF;}
.container_sidebar3:hover{box-shadow: inset 0 0 30px 7px #000000;}
.container_sidebar3_button{ padding: 0.6em 3em; margin-top: 87px; background-color:; }
.container_sidebar3_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 30px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-right: 0px; margin-left: -15px; margin-right: 40px; }
.container_sidebar3_button1:hover{background: #FFFFFF; color: #000000;}
.container_sidebar3_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 30px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: 5px; }
.container_sidebar3_button2:hover{ background: #FFFFFF; color: #000000; }

.container_sidebar4{ background-image: url(../image/proficiency.png); width: 650px; height:200px; float: left; font-size: x-large; margin-top:10px; color: #FFFFFF; }
.container_sidebar4:hover{ box-shadow: inset 0 0 30px 7px #000000; }
.container_sidebar4_button{ padding: 0.6em 3em; margin-top:68px; background-color: ; height: 50px; }
.container_sidebar4_button1{background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: -30px; margin-right:0px; }
.container_sidebar4_button1:hover{background: #FFFFFF; color: #000000;}
.container_sidebar4_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left:0px; }
.container_sidebar4_button2:hover{ background: #FFFFFF; color: #000000; }
.container_sidebar4_button3{background:; color:white; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; }
.container_sidebar4_button3:hover{ background: #FFFFFF; color: #000000; }

.container_sidebar5{ background-image: url(../image/workshop.png); width: 620px; height:200px; float: right; font-size: x-large; margin-top:10px; color: #FFFFFF; margin-top: -200px; margin-right: 0px; }
.container_sidebar5:hover{ box-shadow: inset 0 0 30px 7px #000000; }
.container_sidebar5_button{ display:; padding: 0.6em 3em; margin-top:68px; background-color: ; height: 50px; }
.container_sidebar5_button1{ display:; background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: -30px; margin-right:0px; }
.container_sidebar5_button1:hover{ background: #FFFFFF; color: #000000; }
.container_sidebar5_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left:0px; }
.container_sidebar5_button2:hover{ background: #FFFFFF; color: #000000; }
.container_sidebar5_button3{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left:0px; }
.container_sidebar5_button3:hover{ background: #FFFFFF; color: #000000; }

/* footer */
#footer1 { padding: 0.6em 3em; background:#1abc9c; color: #FFFFFF; height:; text-align: left; }

.col1{ width:25%; display:inline-block; padding:1% 0; text-align:left; float: left; background:;  }
.col1 a{color: white; text-decoration: none;}
.col2{ width:25%; display:inline-block; padding:1% 0; text-align:left; float: left; background:;}
.col2 a{color: white; text-decoration: none;}
.col3{ width:25%; display:inline-block; padding:1% 0; text-align:left; float: left; background-color:; }
.col3 a{color: white; text-decoration: none;}
.col4{ width:25%; display:inline-block; padding:1% 0; text-align:left; float: left; background-color:;}
.col4 a{color: white; text-decoration: none;}

.footclear{background:#FFFFFF; clear: both; height: 1px; }

#footer2{ padding: 2em 3em; background: #e74c3c; color: #FFFFFF; clear: both; }
.copyright { padding: 0.6em 3em; height: 20px; margin-top: 10px; }

/* login pop up */
.post { margin: 0 auto; padding-bottom: 10px; float: left; width: 960px; height:482px;}

#mask { display: none; background: #000; position: fixed; left: 0; top: 0; z-index: 10; width: 100%; height: 100%; opacity: 0.8; z-index: 999; }

.login-popup{
  display:none;
  background:#FFFFFF;
  width: 400px;
  height: 330px;
  padding: 0px;
  border:;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%; left: 50%;
  z-index: 99999;
  box-shadow: 0px 0px 20px #999;
  -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
  border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close { float: right; margin: -28px -28px 0 0; }
.form_title{ padding: 0.6em 3em; background: #e74c3c; height: 50px; color: #FFFFFF; text-align: center; margin-top: -25px; text-decoration: none; font-size: larger; font-family: Tahoma; }
fieldset { border:none; padding:10px; margin-top: 30px; }
form.signin .textbox label { display:block; padding-bottom:7px; }
form.signin .textbox span { display:block; }
form.signin p, form.signin span { color:#fff; font-size:14px; line-height:18px; }
form.signin .textbox input { width: 100%; padding: 1.4em; margin: 0.5em -1; margin-top: -10px; color: #888; background-color: #DEDEDE; border:none; color:#000000; border-bottom: 4px solid transparent; }
form.signin input:-moz-placeholder { color:#ccc; text-shadow:0 0 2px #fff; }
form.signin input::-webkit-input-placeholder { color:#ccc; text-shadow:0 0 2px #fff;  }
.button{
    background-color: #e74c3c;
    width: 100%;
    padding: 1.4em;
    margin-bottom: 1em;
    color: #888; ;
    border:none;
    color:#eee;
    border-bottom: 4px solid transparent;
}
.button:hover{
    opacity: 0.9;
    border-color: #e74c3c;
    background-color: #E85545;
    color: #FFFFFF;
}

/* bantuan.php */
.box { background:#FFFFFF; width: 550px; height:860px; padding: 0px; position:absolute; margin-left:auto; margin-right:auto; margin-top:2.5px; margin-bottom:auto; left:0; right:0; top:0; bottom:0; font-size: 1.2em; position:; z-index: 99999; box-shadow: 0px 0px 20px #999; -moz-box-shadow: 0px 0px 20px #999; /* Firefox */ -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */ border-radius:3px 3px 3px 3px; -moz-border-radius: 3px; /* Firefox */ -webkit-border-radius: 3px; /* Safari, Chrome */}
.head_help{ padding: 1em 4em; background: #e74c3c; height: 50px; color: #FFFFFF; text-align: justify; font-size: xx-large; font-family:'Ubuntu', sans-serif;}
fieldset {border:none; padding:10px; margin-top: 30px;}
form.help .textbox_help label { display:block; padding-bottom:7px; }
form.help .textbox_help span { color: #000000; }
form.help p, form.help span {color:#fff; font-size:14px; line-height:18px;}
form.help .textbox_help input { width: 100%; padding: 1.4em; margin: 0.5em -1; margin-top: 10px; margin-bottom:0px; color: #888; background-color: #DEDEDE; border:none; color:#000000; border-bottom: 4px solid transparent; }
form.help .textbox_help_message label { display:block; padding-bottom:7px; }
form.help .textbox_help_message span { color: #000000;}
form.help p, form.help_message span { color:#fff; font-size:14px; line-height:18px;}
form.help .textbox_help_message textarea { width: 100%; height: 200px; padding: 1.4em; margin: 0.5em -1; margin-top: 10px; color: #888; background-color: #DEDEDE; border:none; color:#000000; border-bottom: 4px solid transparent; margin-top: 5px;}
form.help textarea:-moz-placeholder { color:#ccc; text-shadow:0 0 2px #fff; }
form.help textarea::-webkit-input-placeholder { color:#ccc; text-shadow:0 0 2px #fff;}
form.help input:-moz-placeholder { color:#ccc; text-shadow:0 0 2px #fff; }
form.help input::-webkit-input-placeholder { color:#ccc; text-shadow:0 0 2px #fff;  }

/* Halaman Karir */
.respon{width:100%; height: auto;}

/* Responsive Design */
/* max screen 1304px */   /* real screen 1024px */
@media only screen and ( max-width:1300px )
{
  html{ width : 1024px; }
  #slideshow{display: none;}
  .container {padding: 0.6em 3em; background: #FFFFFF; height: 650px; border-left: 1px solid #1abc9c; border-right: 1px solid #1abc9c;}

  .container_sidebar1{ background: url(../image/child_500X200px.jpg); width:500px; height:200px; float: left; margin-bottom: -10px; font-size: x-large; color:rgba(255, 255, 255, 1);}
  .container_sidebar1_button{ padding: 0.6em 3em; margin-top: 50px; margin-left: 0px; background:;}
  .container_sidebar1_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:7px 30px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; }
  .container_sidebar1_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 30px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: 50px; }

  .container_sidebar2{ background: url(../image/Dewasa_410X410px.png); width: 410px; height:410px; margin-left: 10px; float: right; font-size: x-large; color: #FFFFFF; }
  .container_sidebar2_button{ padding: 0.6em 2.5em; margin-top: 240px; margin-left: 0px; background:; height: 80px; }
  .container_sidebar2_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 30px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-right: 10px; margin-left: 0px; }
  .container_sidebar2_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 30px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: 0px; float: left; margin-top: 20px; }

  .container_sidebar3{ background: url(../image/teen_500X200px.png); width: 500px; height:200px; float: left; font-size: x-large; margin-top: -200px; color: #FFFFFF; }
  .container_sidebar3_button{ padding: 0.6em 2em; margin-top: 87px; background-color:;}
  .container_sidebar3_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 30px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-right: 0px; margin-left: -15px; margin-right: 40px; }
  .container_sidebar3_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 30px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: 5px; }

  .container_sidebar4{ background-image: url (.../image/proficiency_500X200.png); width: 500px; height:200px; float: left; font-size: x-large; margin-top:10px; color: #FFFFFF; }
  .container_sidebar4_button{ padding: 0.6em 1.5em; margin-top:60px; background-color:; height: 100px; }
  .container_sidebar4_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: -20px; margin-right:11px; }
  .container_sidebar4_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; }
  .container_sidebar4_button3{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-top:-3px; float: right; margin-left:; }

  .container_sidebar5{ background-image: url(../image/workshop_410X200.png); width: 410px; height:200px; float: right; font-size: x-large; margin-top:10px; color: #FFFFFF; margin-top: -200px; margin-right: 0px; }
  .container_sidebar5_button{ padding: 0.6em 3em; margin-top:30px; background-color:; height: 80px; }
  .container_sidebar5_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: -30px; margin-right:0px; }
  .container_sidebar5_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left:0px; }
  .container_sidebar5_button3{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; float: left; margin-top: 15px; margin-left: -30px;}

}

/* max screen 1024 px */  /* real screen 740 px */
@media only screen and ( max-width:1024px )
{
  html{width: 640px;}

  .header2 { padding: 0.6em 0em; background: #FFFFFF; height: 155px; border-left: 1px solid #1abc9c; border-right: 1px solid #1abc9c; }
  .header2_left{ float:left; margin-right:250px; background-color:; }
  .header2_left p{ color:#999; line-height:1.8em; width: 100px; }
  .header2_right{ margin-top: 15px; background-color:; margin-right: 155px; }
  .header2_right ul li{ display: inline-table; color: #000000; }
  .header2_right ul li:last-child{ margin-left:2em; }
  .header2_right ul li i{ color: #000000; padding-right:1em; }
  .header2_left { margin-left: 100px; }
  .header2_right ul li a{ color: #FFFFFF; text-decoration:none; }
  #header2_right_button{ background: #e74c3c; color:white; border-top:0; border-left:0; border-right:0; padding:10px 23px; border-bottom: 5px; border-bottom:5px solid #e74c3c ; text-decoration:none; font-size:11pt; text-decoration:none; margin-left: -25px; }
  #header2_right_button2{ background: #1abc9c; color:white; border-top:0; border-left:0; border-right:0; padding:10px 23px; border-bottom: 5px; border-bottom:5px solid #1abc9c ; text-decoration:none; font-size:11pt; text-decoration:none; margin-left: -25px; }


  .container {padding: 0.6em 1em; background: Maroon; height: 830px; border-left: 1px solid #1abc9c; border-right: 1px solid #1abc9c;}

  .container_sidebar1{ background: url(../image/child_300X190.png); width:300px; height:190px; float: left; margin-bottom: -10px; font-size: x-large; color:rgba(255, 255, 255, 1);}
  .container_sidebar1_button{ padding: 0.6em 1em; margin-top: 10px; margin-left: 0px; background:;}
  .container_sidebar1_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:7px 20px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-right: -20px; }
  .container_sidebar1_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 20px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: 50px; }

  .container_sidebar2{ background: url(../image/Dewasa_300X400px.png); width: 300px; height:400px; margin-left: 10px; margin-top: -180px; float: right; font-size: x-large; color: #FFFFFF; }
  .container_sidebar2_button{ padding: 0.6em 1em; height: 40px; margin-top: 240px; margin-left: 0px; background:; }
  .container_sidebar2_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 15px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: 0px; }
  .container_sidebar2_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 15px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; }

  .container_sidebar3{ background: url(../image/teen_300X200px.png); width: 300px; height:200px; float: left; font-size: x-large; margin-top: -200px; color: #FFFFFF; }
  .container_sidebar3_button{ padding: 0.6em 1em; margin-top: 40px; background-color:;}
  .container_sidebar3_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 10px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: 5px; margin-right: 0px; }
  .container_sidebar3_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 20px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: 5px; }

  .container_sidebar4{ background:; width:606px; height:200px; float: left; font-size: x-large; margin-top:10px; color: #FFFFFF; }
  .container_sidebar4_button{ padding: 0.6em 1.5em; margin-top:20px; background-color:; height: 80px; }
  .container_sidebar4_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 5px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: -130px; }
  .container_sidebar4_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 5px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; }
  .container_sidebar4_button3{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 5px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white;  float: left; margin-top:50px; }

  .container_sidebar5{ background-image: url(../image/workshop_606X200.png); width:606px; height:200px; float: left; font-size: x-large; margin-top:10px; color: #FFFFFF; }
  .container_sidebar5_button{ padding: 0.6em 1em; margin-top:65px; background-color:; height: 50px; }
  .container_sidebar5_button1{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 6px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left: 10px; margin-right:0px; }
  .container_sidebar5_button2{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 8px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-left:0px; }
  .container_sidebar5_button3{ background:; color:white; border-top:0; border-left:0; border-right:0; padding:9px 9px; text-decoration:none; font-size:12pt; text-decoration:none; border: 1px solid white; margin-top: -2px;margin-left:1px; }

}